# ignore /dist

/sacpy.egg-info

# setup.py

/.idea

/sacpy/__pycache__/

/sacpy/example/__pycache__/

/build

/test

/Wechat_paper

/sacpydoc/
/examples/EOF.py

/.DS_Store

/.vscode
# /sacpydoc/docs
# /sacpydoc/source
# /sacpydoc/source